*~
*.la
*.lo
*.o
*.tar.bz2
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
icons/16x16/Makefile
icons/16x16/Makefile.in
icons/22x22/Makefile
icons/22x22/Makefile.in
icons/24x24/Makefile
icons/24x24/Makefile.in
icons/32x32/Makefile
icons/32x32/Makefile.in
icons/Makefile
icons/Makefile.in
icons/scalable/Makefile
icons/scalable/Makefile.in
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
m4
missing
mkinstalldirs
panel-plugin/.deps/
panel-plugin/.libs/
panel-plugin/Makefile
panel-plugin/Makefile.in
panel-plugin/vala.stamp
panel-plugin/xfce4-stopwatch-plugin
panel-plugin/xfce4-stopwatch-plugin.desktop
panel-plugin/xfce4_stopwatch_plugin-stopwatch.o
po/.intltool-merge-cache*
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/POTFILES
po/*.gmo
po/stamp-it
stamp-h1
